[submodule "libft"]
	path = libft
	url = https://github.com/kibotrel/42-Libft.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/kibotrel/PNG-Parser.git
[submodule "SDL2-2.0.9"]
	path = SDL2-2.0.9
	url = https://github.com/SDL-mirror/SDL.git
