[submodule "libft"]
	path = libft
	url = https://github.com/kibotrel/42-Libft.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/kibotrel/PNG-Parser.git
[submodule "SDL2.0.9"]
	path = SDL2.0.9
	url = https://github.com/spurious/SDL-mirror.git
